.footer
  border-top: 1px solid $c-black
  padding: 84px 0

  &__container
    display: flex
    align-items: flex-start
    justify-content: space-around

  &__link
    font-family: Space Grotesk
    font-size: 14px
    font-weight: 700
    line-height: normal
    color: $c-black
    text-transform: uppercase

    &:not(:last-of-type)
      margin-bottom: 19px

    &:hover
      color: darken($c-citrine-white, 70%)
