.nav

  &__logo-link
    display: flex
    align-items: flex-start

  &__container
    display: flex
    align-items: flex-start
    justify-content: space-between

  &__shopping
    display: flex
    align-items: center

  &__shopping-cart
    background: transparent
    margin-right: 48px

    &:hover

      img
        filter: invert(63%) sepia(7%) saturate(379%) hue-rotate(40deg) brightness(90%) contrast(86%)

  &__button-img
    transition: filter .3s ease
    
  &__registration
    text-align: center
    font-family: Space Grotesk
    font-size: 20px
    font-weight: 700
    line-height: normal
    color: $c-white
    background-color: $c-black
    padding: 12px
    border-radius: 4px
    transition: background-color .3s ease

    &:hover
      background-color: darken($c-white, 70%)

  &__icon
    margin-right: 12px
      